:root {
    --color: #f00;
    --header-height: 8%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Consolas', monospace;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: var(--header-height) calc(100% - var(--header-height));
}

header {
    background-color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
}
